<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">Productos</a></li>
          <!--<li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Listado</a></li>-->
          <li class="nav-item"><a class="nav-link" routerLink="/create-product" routerLinkActive="active" ariaCurrentWhenActive="page">Crear producto</a></li>
        </ul>
    </div>
  </nav>